.registrationBlock {
  display: flex;
  justify-content: center;
  padding-top: 80px;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;

    .title {
      font-size:25px ;
    }

  }
}