.addModal{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 74%;
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 60px;
    .closeButton{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .textField{
    width: 100%;
    margin-left: 35px;
  }
  .checkbox{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .genericButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    .button {
      border-radius: 18px;
      margin-top:20px;
      width: 120px;
      height: 36px;
      text-transform: none;
      background: #366EFF;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
    }

  }
}
.genericButton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  .deleteButton {
    border-radius: 18px;
    margin-top: 20px;
    width: 120px;
    height: 36px;
    text-transform: none;
    background: red;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
  }
}

